@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  outline: none;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.p-20 {
  padding: 20px;
}

.mt-20 {
  margin-top: 20px;
}
.ml-10 {
  margin-left: 10px;
}

.mt-auto {
  margin-top: auto;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-center {
  justify-content: center;
}
.direction-row {
  flex-direction: row;
}
.direction-column {
  flex-direction: column;
}
.content-start {
  justify-content: flex-start;
}

.content-end {
  justify-content: flex-end;
}

.content-between {
  justify-content: space-between;
}

.content-evenly {
  justify-content: space-evenly;
}

.content-around {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}

.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-20 {
  gap: 20px;
}
.none {
  display: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.text-white {
  color: #fff;
}

.radius {
  border-radius: 6px;
}

.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

/* Home page style */
.mainContainer {
  padding: 20px;
}

.cartBtn {
  background-color: rgb(22, 232, 85);
  padding: 7px 15px;
  border-radius: 5px;
}
